body {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 700;
}

.calc-container {
    display: flex;
    flex-direction: column;
}

.results-container {
    /* display: flex; */
    /* flex-direction: row; */
    margin: auto;
    padding: 1em;
    background-color: #f1f1f1;
    width: 19em;
    border: 0.1em solid #ad3b3b;
    border-radius: 0.5em;
    flex: 1;
}

.results {
    /* background-color: #adadad; */
    float:right;
    /* margin: auto; */
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    /* padding-left: auto; */
    flex: 1;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button-row {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding: 2em;
    margin: 0.2em;
    border: 0.1em solid #ad3b3b;
    border-radius: 0.5em;
    background-color: #fefefe;
    color: #1a1a1a;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #ad3b3b;
    color: #fefefe;
    box-shadow: 0.1em 0.1em 0.2em 0 rgba(0,0,0,0.24);
}

.button:active {
    background-color: #da6e6e;
    color: #fefefe;
    box-shadow: 0.1em 0.1em 0.2em 0 rgba(0,0,0,0.24);
}