body {
    margin: 0;
}
#container {
    width:100%;
    margin:0 auto;
}

.row {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 700;
    padding: 0.7em;
    cursor: pointer;
}

div#container > div {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

div#container > div:nth-of-type(odd) {
    background: #e0e0e0;
}

div#container > div:hover {
    background: #c8c8ff;
}

div#container > div:active {
    background: #8e8eff;
}